body{
    background-color: #010636;
    color: #FFF;
    
}

.title{
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    text-transform: uppercase;

    /* margin-left: 64px; */
    font-weight: 600;

    float:left;
    padding-left:10px;

    margin-left: 40px;
    padding: 0px;

    color: #FFF;
    margin-top: 17px;

    cursor: pointer;
    text-decoration: none;
}

.test2{
    display: none;
}

.menu{
    float:right;
    padding-left:10px;
    display: flex;
    margin-right: 20px;
    margin-top: 17px;
}

.calendarButton, .moneyButton{
    margin-left: 20px;
    margin-right: 20px;
    width: 80px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
}

header, .naglowek{
    width: 100%;
}

.naglowek{
    height: 60px;
}

.monthsButtons{
    display: flex;
    text-align: center;
    justify-content: center;

    width: 90%;
    margin-left: 10%;
}

.prev, .next{
    margin-top: 16px;
    margin-bottom: 16px;
    cursor: pointer;
}

.monthText{
    margin-left: 50px;
    margin-right: 50px;
}

.projektStyle{
    background-color: #AAD9D9;
    width: 100%;
    /* height: 27px; */
}

.kartkowkaStyle{
    background-color: #925FA8;
    width: 100%;
    /* height: 27px; */
}

.sprawdzianStyle{
    background-color: #6880C3;
    width: 100%;
    /* height: 27px; */
}

.todayButton{
    width: 130px;
    margin-right: 40px;

    text-align: center;
    font-family: Outfit;

    border-radius: 25px;
    border: 1px solid #673B81;
    background: #673B81; 

    cursor: pointer;
}

.sameLineHeader{
    display: flex;
    justify-content: center;

    margin-top: 5px;
}

.anotherMonthStyle{
    border-color: #929292;
    color: #929292;
}

.thisMonthStyle{
    border-color: #FFF;
    color: #FFF;
}

.todayStyle{
    border-color: #e985ff;
    color: #e985ff;
}

.daysOfWeek{
    display: flex;
    align-items: center;
    padding-left: 0px;
    margin-left: 40px;
    /* margin-right: 40px; */
    margin-top: 20px;
    margin-bottom: 2px;
}

.daysOfWeek > li{
    /* border-color: chocolate;
    border-radius: 2px;  */
    /* margin-left: 8px; */
    width: 19%;
    list-style: none;
}

.anotherMonthStyle, .thisMonthStyle, .todayStyle{
    width: 92%;
    height: 84%;
    
    border-width: 3px;
    border-style: solid;
    
    padding: 6px;  
    
    overflow-x: hidden;
    overflow-y: auto;
}

.week{
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
    width: 97%;
    height: 100%;
}


.dzienTygodnia{
    /* display: none; */
    background-color: chartreuse;
}

/* .test2{
    display: contents;
} */

.pictureStyle{
    width: 15px;
    height: 15px;
    margin-top: 6px;
    margin-left: 4px;
    margin-bottom: 6px;
}

.przedmiot{
    float: right;
    font-size: 10px;
    margin-right: 2px;
}

.nazwa{
    margin-left: 5px;
    margin-top: 4px;
}

.bottomEvent{
    display: flex;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7a99ff; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7a99ff; 
}

.point1{
    background-color: #6880C3;
}

.circle2{
    background-color: #925FA8;
}

.circle3{
    background-color: #AAD9D9;
}

.point1, .circle2, .circle3{
    /* background-color: aquamarine; */
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-top: 4px;
}

.legend{
    height: 20px;
    display: flex;
    justify-content: center;
    /* background-color: hotpink; */
    margin-left: 40px;
    margin-right: 13px;
    margin-top: 23%;
}

.legenda{
    margin-left: 5px;
    margin-right: 25px;
}

.test{
    position: fixed;
    background-color: #010636;
    height: 100%;
    width: 500px;
    left: 0;
    top: 0;
}

.closeButton{
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    background: none;
    font-size: 20px;
    border-width: 0px;
    font-weight: 900;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #FFF;
    cursor: pointer;
}

.closeButton:hover{
    background: red;
}

.nameInfo{
    /* background-color: blue; */
    margin-left: 22px;
    margin-top: 27px;
    margin-right: 48px;
    font-size: 40px;
}

.subjectInfo{
    display: flex;
}

.subjectName{
    margin-left: 17px;
    margin-top: 10px;
    font-size: 28px;
    margin-bottom: 20px;
}

.imgPicture{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.typeInfo{
    display: flex;
}

.opisInfo {
    margin-left: 20px;
    margin-right: 20px;
    height: 37%;
    border: #8e8e8e solid 5px;
    /* border-radius: 5%; */
    padding: 30px;
    /* border-style: outset; */
    width: 78%;
    font-size: 35px;
}


.test{
    border-right-width: 11px;
    border-color: #00032396;
    border-style: solid;
}

.center{
    display: flex;
    justify-content: center;
}

.full{
    /* background-color: bisque; */
  /* height: initial; */
  position: absolute;
  top: 23%;
  left: 0%;
  right: 0%;
  bottom: 64.5%;
}

.rozmiar{
    width: 15.8%;
  height: 100%;
}

.kartkowkaStyle .sprawdzianStyle .projektStyle{
    width: 100%;
    padding-bottom: 3px;
    height: fit-content;
    cursor: pointer;
}


@media screen and (max-width: 1000px) {
    .week {
        display: flex;
        margin-left: 1%;
        margin-right: 25px;
        width: 97%;
        height: 100%;
    }

    .full {
        /* background-color: bisque; */
        /* height: initial; */
        position: absolute;
        top: 11%;
        left: 0%;
        right: 0%;
        bottom: 74.2%;
    }

    /* .przedmiot {
        float: right;
        font-size: 12px;
        margin-right: 2px;
    } */

    .nazwa {
        margin-left: 5px;
        margin-top: 23px;
        padding-bottom: 1px;
        font-size: 17px;
    }

    .pictureStyle {
        width: 15px;
        height: 15px;
        margin-top: 26px;
        margin-left: 4px;
        margin-bottom: 6px;
    }
    
    .kartkowkaStyle {
        background-color: #925FA8;
        width: 100%;
        padding-bottom: 3px;
    }

    .test2{
        display: none;
    }

    .przedmiot {
        float: right;
        font-size: 16px;
        margin-right: 0;
        width: 100%;
        background-color: #0006;
        text-align: center;
    }

    .test {
        position: fixed;
        background-color: #010636;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }

    .imgPicture {
        width: 58px;
        height: 58px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .nameInfo {
        /* background-color: blue; */
        margin-left: 22px;
        margin-top: 27px;
        margin-right: 48px;
        font-size: 50px;
    }

    .subjectName {
        margin-left: 17px;
        margin-top: 10px;
        font-size: 34px;
        margin-bottom: 20px;
    }

    .opisInfo {
        margin-left: 20px;
        margin-right: 20px;
        height: 37%;
        border: #8e8e8e solid 5px;
        /* border-radius: 5%; */
        padding: 30px;
        /* border-style: outset; */
        width: 87%;
        font-size: 35px;
    }

    .closeButton {
        float: right;
        margin-right: 35px;
        margin-top: 19px;
        background: none;
        font-size: 52px;
        border-width: 0px;
        font-weight: 900;
        border-radius: 50%;
        width: 65px;
        height: 67px;
        color: #FFF;
        /* background-color: aquamarine; */
        padding-bottom: 64px;
    }

    /* .body{ 
        background-color: #e985ff;
    }

    .todayButton {
        width: 130px;
        margin-right: 40px;
        text-align: center;
        font-family: Outfit;
        border-radius: 25px;
        border: 1px solid #673B81;
        background: #673B81;
        cursor: pointer;
        font-size: 31px;
    }

    .monthsButtons {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 90%;
        margin-left: -2%;
        font-size: 31px;
      }

    .prev, .next {
        margin-top: 29px;
        margin-bottom: 16px;
        cursor: pointer;
      }

      .calendarButton, .moneyButton {
        margin-left: 138px;
        margin-right: 0;
        width: 80px;
        height: 60px;
        text-align: center;
        cursor: pointer;
      }

      .sameLineHeader {
        display: flex;
        justify-content: center;
        margin-top: 48px;
        /* font-size: 31px; */
      /* }

      .center2{
          display: none;
      }

      .anotherMonthStyle {
        border-color: #929292;
        color: #929292;
        display: none;
      }

      .rozmiar {
        width: 100%;
        height: 227px;
      }

      .week {
        display: table;
        margin-left: 30px;
        margin-right: 25px;
        width: 92%;
        height: 24%;
      }

      .full {
        /* background-color: bisque; */
        /* height: initial; */
        /* position: absolute;
        top: 12%;
        left: 0%;
        right: 0%;
        bottom: 39%;
      }

      .anotherMonthStyle, .thisMonthStyle, .todayStyle {
        width: 100%;
        height: 84%;
        border-width: 3px;
        border-style: solid;
        padding: 6px;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 29px;
      }

      .pictureStyle {
        width: 27px;
        height: 27px;
        margin-top: 6px;
        margin-left: 4px;
        margin-bottom: 6px;
      } */

      /* .przedmiot {
        float: right;
        font-size: 19px;
        margin-right: 2px;
      }

      .title {
        font-family: Outfit;
        font-size: 26px;
        font-style: n      margin-left: 1%;
        margin-right: 25px;
        width: 97%;
        height: 10
        float: right;
        padding-left: 10px;
        display: flex; */
        /* margin-right: 20px; */
        /* font-size: 31px;
        margin-right: 59px; */

      /* } */

    /* .super{
        display: contents;
    } */
} 
