body{
    background-color: #010636;
    color: #FFF;
    
}

.title{
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    text-transform: uppercase;

    /* margin-left: 64px; */
    font-weight: 600;

    float:left;
    padding-left:10px;

    margin-left: 40px;
    padding: 0px;

    color: #FFF;
    margin-top: 17px;

    cursor: pointer;
    text-decoration: none;
}

.menu{
    float:right;
    padding-left:10px;
    display: flex;
    margin-right: 20px;
    margin-top: 17px;
}

.calendarButton, .moneyButton{
    margin-left: 20px;
    margin-right: 20px;
    width: 80px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
}

header, .naglowek{
    width: 100%;
}

.naglowek{
    height: 60px;
}

.monthsButtons{
    display: flex;
    text-align: center;
    justify-content: center;

    width: 90%;
    margin-left: 10%;
}

.prev, .next{
    margin-top: 16px;
    margin-bottom: 16px;
    cursor: pointer;
}

.monthText{
    margin-left: 50px;
    margin-right: 50px;
}

table, th, td{
    /* background-color: chartreuse; */
    border: 1px solid rgb(83, 83, 83);
    border-collapse: collapse;
}

th, td{
    width: 7%;
    height: 10px;
}

td{
    padding-left: 10px;
}

table{
    margin-top: 10px;
}
